# Gráfico e Modelo Linear

In [10]:
# instalado pacotes
# install.packages('openxlsx')

# Carregando pacotes
library(openxlsx)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

Attaching package: ‘openxlsx’

The following objects are masked from ‘package:xlsx’:

    createWorkbook, loadWorkbook, read.xlsx, saveWorkbook, write.xlsx

In [12]:
# Lendo os dados
aulas <- read.xlsx('dados/aulas.xlsx')
cursos <- read.csv('dados/cursos.csv')
duracao <- read.csv('dados/duracao.csv')

In [15]:
# Vendo as primeiras linhas do dado
head(aulas)

  user_id course_id section_id
1  18      88       1815
2  19     104       1941
3  19     215       3526
4  19     215       3527
5  18      88       1816
6 114      37        584

In [16]:
# Vendo as primeiras linhas do dado
head(cursos)

  X id user_id course_id
1 1 1   18      88
2 2 2   19     104
3 3 3   19     215
4 4 4   19     215
5 5 5   18      88
6 6 6  114      37

In [17]:
# Vendo as primeiras linhas do dado
head(duracao)

  user_id course_id timeToFinish
1 477      19       0
2 110     251       0
3 474     149       0
4 474     140       0
5 474     167       0
6  30     213       0