# Arrays

In [1]:
ar1 <- array(1:24, dim = c(3, 4, 2))
ar1

, , 1

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

, , 2

     [,1] [,2] [,3] [,4]
[1,]   13   16   19   22
[2,]   14   17   20   23
[3,]   15   18   21   24

In [3]:
dim(ar1)

[1] 3 4 2

In [4]:
ar1[,2:3,]

, , 1

     [,1] [,2]
[1,]    4    7
[2,]    5    8
[3,]    6    9

, , 2

     [,1] [,2]
[1,]   16   19
[2,]   17   20
[3,]   18   21