# Matrizes

In [14]:
m1 <- matrix(1:12, ncol = 3)
m1

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7    11
[4,] 4    8    12

In [2]:
length(m1)

[1] 12

In [3]:
dim(m1)

[1] 4 3

In [4]:
nrow(m1)

[1] 4

In [5]:
ncol(m1)

[1] 3

In [6]:
m1[1, 2]

[1] 5

In [7]:
m1[2, 2]

[1] 6

In [8]:
m1[,2]

[1] 5 6 7 8

In [9]:
m1[3,]

[1]  3  7 11

In [15]:
dimnames(m1)

NULL

In [17]:
dimnames(m1) <- list(c("L1", "L2", "L3", "L4"), c("C1", "C2", "C3"))
m1

   C1 C2 C3
L1 1  5   9
L2 2  6  10
L3 3  7  11
L4 4  8  12

In [18]:
dimnames(m1)

[[1]]
[1] "L1" "L2" "L3" "L4"

[[2]]
[1] "C1" "C2" "C3"

In [19]:
m1[c("L1", "L3"),]
m1[c(1, 3),]

   C1 C2 C3
L1 1  5   9
L3 3  7  11

   C1 C2 C3
L1 1  5   9
L3 3  7  11

In [20]:
m2 <- cbind(1:5, 6:10)
m2

     [,1] [,2]
[1,] 1     6
[2,] 2     7
[3,] 3     8
[4,] 4     9
[5,] 5    10

In [21]:
m3 <- cbind(1:5, 6)
m3

     [,1] [,2]
[1,] 1    6
[2,] 2    6
[3,] 3    6
[4,] 4    6
[5,] 5    6