# Vetores

In [1]:
x <- 10
x

[1] 10

In [2]:
x2 <- c(1, 3, 6)
x2

[1] 1 3 6

In [3]:
length(x2)

[1] 3

In [4]:
class(x2)

[1] "numeric"

In [5]:
is.vector(x2)
x2

[1] TRUE

[1] 1 3 6

In [6]:
is.matrix(x2)

[1] FALSE

In [7]:
is.numeric(x2)

[1] TRUE

In [10]:
is.character(x2)

[1] FALSE

In [11]:
x3 <- 1:10
x3

 [1]  1  2  3  4  5  6  7  8  9 10

In [12]:
x4 <- seq(0, 1, by = 0.1)
x4

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

In [13]:
x[x4 > 0.5]

[1] NA NA NA NA NA

In [14]:
x4 > 0.5

 [1] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [15]:
x5 <- seq(0, 1, len = 11)
x5

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

In [16]:
x6 <- rep(1, 5)
x6

[1] 1 1 1 1 1

In [17]:
x7 <- rep(c(1, 2), c(3, 5))
x7

[1] 1 1 1 2 2 2 2 2

In [18]:
x9 <- rnorm(10, mean = 70, sd = 10)
x9

 [1] 66.68346 69.52173 67.38246 65.16533 53.73766 59.76010 61.89035 61.59893
 [9] 93.41131 68.89199

In [21]:
sum(x9)

[1] 668.0433

In [22]:
mean(x9)

[1] 66.80433

In [23]:
var(x9)

[1] 110.4791

In [24]:
min(x9)

[1] 53.73766

In [25]:
max(x9)

[1] 93.41131

In [26]:
summary(1:10)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00    3.25    5.50    5.50    7.75   10.00

In [28]:
x10 <- x9[x9 > 72]
x10

[1] 93.41131