## Juntando duas tabelas em uma

In [2]:
# Instalando o pacote
# install.packages("tibble")

# Carregando o pacote
library(tibble)

Installing package into 'C:/Users/valeria/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'tibble' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\valeria\AppData\Local\Temp\RtmpaI4ncD\downloaded_packages

Warning message:
"package 'tibble' was built under R version 3.6.1"

In [3]:
vendedor <- tibble(
    id = c("A12", "A13", "A14", "A15"),
    regiao = c("Sul", "Sudeste", "Oeste", "Norte"),
    experiencia = c(5, 2, 12, 8)
)

vendas = tibble(
    id = c("A13", "A14", "A12", "A11"),
    vendas = c(1200, 2500, 350, 1000)
)

vendedor

vendas

  id  regiao  experiencia
1 A12 Sul      5
2 A13 Sudeste  2
3 A14 Oeste   12
4 A15 Norte    8

  id  vendas
1 A13 1200
2 A14 2500
3 A12  350
4 A11 1000

In [5]:
# Carregando o pacote
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [6]:
# left_join(x, y)
left_join(vendedor, vendas, by = "id")

  id  regiao  experiencia vendas
1 A12 Sul      5           350
2 A13 Sudeste  2          1200
3 A14 Oeste   12          2500
4 A15 Norte    8            NA

In [7]:
# inner_join(x, y)
inner_join(vendedor, vendas, by = "id")

  id  regiao  experiencia vendas
1 A12 Sul      5           350
2 A13 Sudeste  2          1200
3 A14 Oeste   12          2500

In [8]:
# full_join(x, y)
full_join(vendedor, vendas, by = "id")

  id  regiao  experiencia vendas
1 A12 Sul      5           350
2 A13 Sudeste  2          1200
3 A14 Oeste   12          2500
4 A15 Norte    8            NA
5 A11 NA      NA          1000